<!DOCTYPE html>
<!--
 Copyright (c) 2016 Tristan Colgate-McFarlane

 This file is part of vonq.

 vonq is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 vonq is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with vonq.  If not, see <http://www.gnu.org/licenses/>.
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment-with-locales.min.js"></script>

<style type="text/css">
  .activeLink {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .inactiveLink {
    stroke: #aaa;
    stroke-width: 0.5px;
    stroke-dasharray: "10,10";
  }

  .node {
    stroke: #000;
    stroke-width: 1.5px;
  }
</style>

<body>
  <script>
      var ws = new WebSocket("ws://localhost:12345/updates");

      var width = 960,
          height = 500;

      var c20c = d3.scale.category20c();

      var nodes = [],
          halfLinks = [],
          links = [];

      var nodesIdx = {}; // map node IDs to nodes index
      var halfLinksIdx = {}; // map half edge IDs to edges index
      var linksIdx = {}; // map edge IDs to edges index

      var force = d3.layout.force()
          .nodes(nodes)
          .links(links)
          .charge(-400)
          .linkStrength(linkStrength)
          .linkDistance(linkDist)
          .size([width, height])
          .on("tick",tick);

      var svg = d3.select("body").append("svg")
          .attr("width", width)
          .attr("height", height);

      var node = svg.selectAll(".node"),
          link = svg.selectAll("line"),
          linkPath = svg.selectAll(".linkPath"),
          linkLabel = svg.selectAll(".linkLabel");

      function linkDist(l,li){
        return l.cost * 24
      }

      function linkStrength(l,li){
        if (l.disabled){
          return 0;
        };
        return 1;
      }

      function distance(p1,p2) {
        var x1 = p1.x < p2.x ? p1.x : p2.x;
        var x2 = p1.x < p2.x ? p2.x : p1.x;
        var y1 = p1.y < p2.y ? p1.y : p2.y;
        var y2 = p1.y < p2.y ? p2.y : p1.y;
        return  Math.sqrt(( x2 - x1 )^2 + ( y2 - y1)^2);
      }

      function start() {
        link = link.data(links);
        link.enter().append("line")
                    .attr("id",function(d,i) {return 'link'+i});
        link.exit().remove();

        node = node.data(nodes);
        node.enter().append("circle")
                    .attr("fill", function(d,i) {return c20c(nodes.length);})
                    .attr("class", "node")
                    .attr("r", 8);
        node.exit().remove();

        linkPath = linkPath.data(links);
        linkPath.enter().append('path')
                .attr({'d': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
                       'class':'linkPath',
                       'fill-opacity':0,
                       'stroke-opacity':0,
                       'fill':'blue',
                       'stroke':'red',
                       'id':function(d,i) {return 'linkPath'+i}})
                .style("pointer-events", "none");

        linkLabel = linkLabel.data(links);
        linkLabel.enter().append('text')
                         .style("pointer-events", "none")
                         .attr({'class':'linkLabel',
                                'id':function(d,i){return 'linkLabel'+i},
                                //'dx':function(d,i){return distance(d.source,d.target)/2},
                                'dx': 30,
                                'dy':0,
                                'font-size':10,
                                'fill':'#aaa'})
                         .append('textPath')
                         .attr('xlink:href',function(d,i) {return '#linkPath'+i})
                         .style("pointer-events", "none")
                         .text(function(d,i){return d.cost});

        force.start();
      }

      function nodeUpdate(ts,id,state) {
        if(! nodesIdx.hasOwnProperty(id)){
          let n = {"id": id};
          nodes.push(n);
          nodesIdx[id] = nodes.length - 1;
        };
      }

      function edgeUpdate(ts,id,edgeName,state) {
        let estate = JSON.parse(state);
        if(!linksIdx.hasOwnProperty(edgeName)){
          if(!halfLinks.hasOwnProperty(edgeName)){
            let newhenode = nodes[nodesIdx[id]];
            let newhe = {"source": newhenode};
            halfLinks[edgeName] = newhe;
          } else {
            let oldhe = halfLinks[edgeName];
            if (oldhe.source != id && !oldhe.hasOwnProperty("target")){
              let newtnode = nodes[nodesIdx[id]];
              let edata = JSON.parse(edgeName);
              let newlink = {"source": oldhe.source,"target": newtnode,"cost": edata.Cost,"disabled": estate.Disabled};
              links.push(newlink);
              linksIdx[edgeName] = links.length - 1;
              halfLinks[edgeName] = newlink;
            };
          };
        } else {
          let aedge =links[linksIdx[edgeName]];
          aedge["disabled"] = estate.Disabled;
          links[linksIdx[edgeName]] = aedge;
        };
      };

      function edgeMessage(ts,id,edgeName,dir,msgStr) {
        console.log(msgStr);
        let msg = JSON.parse(msgStr)["U"];
        console.log("em",ts,id,edgeName,dir,msg);
      }

      ws.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data.hasOwnProperty("Type")){
          if (data["Type"] == "nodeUpdate"){
            nodeUpdate(data["T"], data["NodeID"], data["State"]);
          } else if (data["Type"] == "edgeUpdate"){
            edgeUpdate(data["T"], data["NodeID"], data["EdgeName"], data["State"]);
          } else if (data["Type"] == "edgeMessage"){
            edgeMessage(data['T'], data["NodeID"], data["EdgeName"], data["Dir"], data["Message"]);
          } else if (data["Type"] == "log"){
            console.log(data.Log);
          } else {
            console.log(data);
          }
        }
        start();
      };

      function tick() {
        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; })

        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; })
            .attr("class", function(d,i) {
              return d.disabled ? "inactiveLink" : "activeLink";
            });

        linkPath.attr('d', function(d) { var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
                                                       return path});

        linkLabel.attr('transform',function(d,i){
            if (d.target.x<d.source.x){
                bbox = this.getBBox();
                rx = bbox.x+bbox.width/2;
                ry = bbox.y+bbox.height/2;
                return 'rotate(180 '+rx+' '+ry+')';
                }
            else {
                return 'rotate(0)';
                }
        });
      };

      function run(){
        d3.xhr("/run").get(function( data ) {
          console.log("Requested run");
        });
      };

      start();
  </script>
  <div id="graph-area"></div>
  <input type="button" id="runBtn" value="Run" onclick="run()"></input>
</body>


